<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aboutus</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<div class="txt0">

    <header>

    <a href="/" target="_top"><img src="/BSPS.jpg" style="width:80px;"></a>

    <h1><p align="center">인.완.편</p></h1>

    <i class="fas fa-3x fa-bars"></i>
  </header>
</div>
<p class="Jua"><b>"복잡한 세상, (편의점으로)편하게 살자"</b>
  <img src="/1.png" style="vertical-align : top; width:30%;">
  <img src="/2.png" style="vertical-align : top; width:30%;">
  <br><br>

안녕하세요! 저희는 위치기반 편의점 정보 플랫폼 <b>인.완.편(인생의 완성은 편의점이다)</b>을 만들고 있는<br> <b>"복세편살"</b> 팀입니다 !!<br><br>

먹거리, 생필품, 택배, 의약품, 미아찾기, 공공요금 수납과 같은 금융서비스까지…! 생활하는데 필요한 많은 서비스를 편의점에서 이용하고 있는 편의점 만능 시대에 살아가고 있는데, 혹시 해당 서비스를 편의점에서 이용하지 못해서 발길을 돌리신 적이 있으십니까?<br><Br>
예를 들어 먹어보고 싶은 PB(편의점 자체 상표) 상품이 있는데 재고가 없었다거나, 약국이 문 닫은 시간에 응급약을 사러 갔는데 재고가 없었다거나, 택배를 부치러 편의점에 갔는데 해당 서비스를 제공하지 않는다거나, 세금납부 서비스를 이용하기 위해 편의점에 갔는데 해당 편의점에 QR코드 리더기가 없었다거나 !!<br><br>

저희는 이러한 불상사를 미연에 방지하기 위해 사용자의 위치에 기반하여 가까운 편의점들을 지도에 찍어주고, 각 편의점마다 제공하고 있는 서비스, 품목별 재고, 평점 등 여러 정보를 제공하는 서비스를 만들고 있습니다. 백엔드에서는 Node.js와 Express.js로 서버를 구현하고 있고, 클라이언트 쪽에서는 네이버 지도 api를 이용하여 더욱 풍부한 사용자 경험을 제공하고자 합니다!<br><br>

복잡한 세상, 다들 편하게 살아봐요~~<br><br>

<b>by 정윤호, 배민국, 손병호</b></p>
<div class="nospace">
  <img src="\aboutme.jpg" class="center">
  <img src="\working.png" class="center">
</div>
</body>
</html>
